echo "# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

/Sprint 55/
/Sprint 63/
/Sprint52/
/Sprint_5/
/Sprint_53/
/Sprint_54/
/Sprint_6/
/Sprint_64/
/Sprint_73/
/Sprint_74/" > .gitignore